@import url('https://fonts.googleapis.com/css?family=Gruppo');
/*/////////////HOME PAGE//////////////*/
/*GENERAL*/
#banner{
    display: none;
}
body{
    background-color: black;
}
img{
    width: 100%;
}
main{
    height: 100%;
}

/*TOP PART OF WEBPAGE*/
#main-content{
    position: relative;
    top: 100px;
    text-align: center;
    margin-top: 0;
    color: white;
    font-family: 'Gruppo', cursive;
    font-size: 0.9em;
    line-height: 2.5em;
}
#logo{
    position: relative;
    top: 0em;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 20em;
    width: 19.9em;
    top:1.5em;
}

#arrow{
    position: relative;
    text-align: center;
    top: 5em;

}

#arrow a{
    color:white;
}

#arrow a:visited{
    color:white;
}


#sections{
    margin-top: 100%;
    margin-bottom: 30%;
}
#footprint{
    font-size: .7em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: #292929;
}

#footprints{
    font-size: .7em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: #292929;
}

/*/////////////ABOUT//////////////*/

#logo-about{
    width: 60px;
    height: 61px;
    padding: 0;
    margin: 0;
}

h1{
    color: white;
    text-align: center;
    top:0;
    display: block;
    font-family: 'Gruppo', cursive;
    font-size: 4em;
    margin-bottom: .5em;
    margin-top:.2em;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    margin: 2em;
    margin-bottom: 1em;
    line-height: 1.5em;
}

 

li{
    display:inline-block;
    }

/*//////////////////PAGES///////////////////*/

#themes{
    margin: 2em;
    line-height: 3em;
}

/*///////////////Basic Web///////////////*/

#buttons{
    padding: 0;
    margin: 0;
}

#buttons a{
    background-color: black;
  box-shadow: 0 5px 0 black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Gruppo', cursive;
  text-align: center;
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  line-height: 1em;
  padding: 18px 20px;
}

#buttons a:hover{
    background-color: rgb(8, 7, 7);
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
}

#buttons a:active{
    display: block;
    justify-content: center;
    align-items: center;
}


#logo-page{
    width: 60px;
    height: 61px;
    padding: 0;
    margin: 0;
}

/*///////////////Basic Content///////////////*/

#iconm{
    color:rgb(102, 100, 100);
    list-style: none;
    text-align: right;
    float: right;

}

#iconm :hover{
    color: white;
    cursor: pointer;
}
/*///////////////Basic Animation///////////////*/

#lola{
    display: none;
}

/*///////////////Basic UX///////////////*/

.thankyou{
    font-family: helvetica, sans-serif;
    line-height: 1.2em;
    font-style: italic;
    margin-bottom: 1em;
}

.thankyou a{
    color: white;
}

.thankyou a:visited{
    color: white;
}

/*///////////////Basic UX///////////////*/
table{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    margin: 1em;
    margin-bottom: 2em;
    line-height: 2em;
}

  td, th {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){
    background-color: #1f1e1e;
  }

.largebox{
    height: 50px;
}


/*///////////////////Tablet Version Alterations///////////////////*/
@media all and (min-width:768px){

    main{
        margin: 75px;
        margin-bottom: 2px;
    }

    img{
        margin-left: auto;
        margin-right: auto;
        width:75%;
    }

    #footprint{
        font-size: 1em;
    }

    #footprints{
        font-size: 1em;
    }

    /*///////////////front page///////////////*/

    #logo{
        display: inherit;
        position: relative;
        top: 0em;
        left: 50%;
        transform: translate(-50%, 0%);
        height: 30em;
        width: 29em;
        top:10em;
    }
    
    #sections{
        margin-bottom: 0;
        margin-top: 50%;
    }
    #main-content{
        font-size: 1em;
        line-height: 3em;
    }

    #sections img{
        display: inherit;
        top: 0%;
        margin-bottom: 10%;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
        width: 90%;
    }

    #scroll{
        font-size: 2em;
    }

    #pageswrapper{
        margin: 0;
    }

    #frontp{
        line-height: .8em;
    }

    /*///////////////Pages///////////////*/
    #themes img{
        display: inherit;
        top: 0%;
        margin-bottom: 10%;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0%);
    }

    h1{
        font-size: 8em;
    }

    #logo-about{
        width: 150px;
        height: 155px;
    }

     /*///////////////About///////////////*/

     #me-img img{
        width:100%;
     }

     #abouth1{
     line-height: 0;
     padding: 0;
     top:0;
     }

     p{
         font-size: 1.5em;
     }

    /*///////////////Design///////////////*/
#logo-page{
    width: 150px;
    height: 155px;
    line-height: 1em;
}

#h1design{
    font-size: 5em;
}

#buttons{
    font-size: 2em;
}
table{
    font-size: 1.2em;
}

/*///////////////Survey///////////////*/

input{
    padding: 1em;
    font-size: 1em;
}

#reset{
    background-color: #292929;
    color: white;
}

#submit{
    background-color: #5a29c3;
    color: white;
}

/*///////////////Basic Web///////////////*/
#h1bw{
    font-size: 5em;
    line-height: 1em;
}

#buttons{
    font-size: 1.7em;
}

/*///////////////Basic Content///////////////*/

#iconm{
    top: 0;
}

/*///////////////Basic Animation///////////////*/
#lola{
    display: inherit;
    background-image:url(../pics/clickhere.png);
    height: 350px;
    width: 694px;
    position: absolute;
    top: 140em;
    margin-bottom: 5em;
    animation: flash 1s infinite steps(3);
    cursor: pointer;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    margin-bottom: 5em;
}
@keyframes flash{
    to{
        background-position: -2160px;
    }
}

#lola.clicked{
        background-image:url(../pics/lola9.png);
        height: 350px;
        width: 694px;
        position: absolute;
        top: 140em;
        margin-bottom: 5em;
        animation: clicked 5s infinite steps(9);
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, 0%);
        margin-bottom: 5em;
    }
    @keyframes clicked{
        to{
            background-position: -6480px;
        }
    }
}

/*///////////////////Desktop Version Alterations///////////////////*/

@media all and (min-width:1100px){
/***Alternate layout. I thought it looked empty like this so. oof

.container{
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: "header header header" ". main aside" ". . footer";
}*/

aside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "nav1 nav2 nav3";
    column-gap: 0.5em;
}

#banner{
    display: inherit;
    margin: 0 auto;
    width: 100%;
    padding: 0;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, 0%);
    top: 7em;
}

#logo{
    top: 0;
    width: 105px;
    height: 100px;
    left: 5em;
    margin: 0;
    position: relative;
}

header{
    margin: 0;
}

#frontp{
    font-size: 3em;
    text-align: center;
    position: relative;
    top: 3em;
}
#scroll{
    font-size: 1em;
    position: relative;
    top: 8em;
}

#arrow{
    position: relative;
    top: 11em;
}

#sections{
    position: relative;
    top: 25em;
    margin: 0;
}

#footprint {
    right: 0;
    position: absolute;
    top: 67em;
}

/*//////////////////PAGES///////////////////*/

#themes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "section1 section2" "section3 section4";
        column-gap: 0.1em;
        margin: 0;
        padding: 5em;
}

h1{
    font-size:5em;
}

/*///////////////Basic Web///////////////*/

#pagesmain{
    margin: 0 25em 0 25em;
}

p{
    font-size: 1em;
}

#footprints{
    margin-top: 15em;
    position: relative;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: #292929;
}

#buttons a{
    font-size: 1em;

}

/*///////////////Basic Animation///////////////*/
#lola{
    top: 145em;
}
#lola.clicked{
        background-image:url(../pics/lola9.png);
        top: 145em;
    }

#me-img img{
    width: 100%;
 }


/*///////////////Survey///////////////*/
 table {
    font-size: 1em;
}

/*///////////////Design///////////////*/

#h1design{
    font-size:  4em;
}

}