@import url('https://fonts.googleapis.com/css?family=Gruppo');
/*/////////////HOME PAGE//////////////*/
/*GENERAL*/

body{
    background-color: black;
}
img{
    width: 100%;
}
main{
    height: 100%;
}

/*TOP PART OF WEBPAGE*/
#main-content{
    position: relative;
    top: 100px;
    text-align: center;
    margin-top: 0;
    -webkit-text-fill-color: white;
    font-family: 'Gruppo', cursive;
    font-size: 0.9em;
    line-height: 2.5em;
}
#logo{
    position: relative;
    top: 0em;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 20em;
    width: 19.9em;
    top:1.5em;
}

#arrow{
    position: relative;
    text-align: center;
    top: 5em;

}

#arrow a{
    color:white;
}

#arrow a:visited{
    color:white;
}


#sections{
    margin-top: 100%;
    margin-bottom: 50%;
}
#footprint{
    font-size: .7em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: #292929;
}

/*/////////////ABOUT//////////////*/

#logo-about{
    width: 60px;
    height: 61px;
    padding: 0;
    margin: 0;
}

h1{
    color: white;
    text-align: center;
    top:0;
    display: block;
    font-family: 'Gruppo', cursive;
    font-size: 4em;
    margin-bottom: .5 em;
    margin-top:.2em;
}

p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align:left;
    margin: 2em;
    margin-bottom: 1em;
    line-height: 1.5em;
}


/*FOOTER*/

.icons-socialmedia{
    color:rgb(102, 100, 100);
    list-style: none;
    text-align: right;
    float: right;
    position: relative;
    overflow: hidden;
}

li{
    display:inline-block;
    }

.icons-socialmedia :hover{
    color: white;
    cursor: pointer;
}

.icons-socialmedia a:visited{
    color: rgb(102, 100, 100);
}

/*//////////////////PAGES///////////////////*/

#themes{
    margin: 2em;
    line-height: 3em;
}

/*///////////////Basic Web///////////////*/

#buttons{
    padding: none;
    margin: none;
}

#buttons a{
    background-color: rgb(8, 7, 7);
  box-shadow: 0 5px 0 black;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Gruppo', cursive;
  text-align: center;
  display: block;
  font-size: 1.5em;
  text-decoration: none;
  line-height: 1em;
  padding: 18px 20px;
}

#buttons a:hover{
    background-color: #000000;
    cursor: pointer;
    border-style: solid;
    border-width: 1px;
}

#buttons a:active{
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
}